body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/010/820/720/original/white-background-random-minimalist-abstract-illustration-for-logo-card-banner-web-and-printing-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  }

  h1 {
    text-align: center;
  }

  select {
    width: 200px;
    padding: 5px;
    margin-bottom: 10px;
  }

  button {
    padding: 10px 20px;
    background-color: #060f23;
    color: white;
    border: none;
    cursor: pointer;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }

  th {
    background-color: #f2f2f2;
  }
  .image-button {
    width: 40px;
    height: 40px;
    position: absolute;
  }