table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
  }
  
  th {
    padding: 10px;
  }
  
  td {
    padding: 5px;
  }
  body{
    background-image: url("https://static.vecteezy.com/system/resources/previews/010/820/720/original/white-background-random-minimalist-abstract-illustration-for-logo-card-banner-web-and-printing-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  }