/* Center the form on the page */
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style the container for the form elements */
.container {
  padding: 16px;
  border-radius: 5px;
  background-color: #f2f2f2;
}

/* Style the input fields */
input[type=text],
input[type=password] {
  width: 200px; /* Adjust the width as desired */
  padding: 12px 20px;
  font-size: 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.phone-input {
  display: flex;
  align-items: center;
  margin-bottom: 10px; /* Add a margin-bottom for spacing */
}

.phone-input label {
  margin-right: 10px;
}

.phone-input input[type=text] {
  width: 150px; /* Adjust the width as desired */
}

.otp-input {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.otp-input input {
  width: 30px; /* Adjust the width as desired */
  height: 40px;
  text-align: center;
  margin: 0 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box; /* Add this line */
}

/* Style the submit buttons */
button[type="submit"],
button[type="resend"],
button[type="goback"] {
  background-color: #0c1033;
  width: 200px;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  width: 150px; /* Adjust the width as desired */
  background-color: #0c1033;
  color: white;
  font-size: 20px;
  border-radius: 5px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
  text-align: center;
}

.button:hover {
  background-color: #0c1033;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://static.vecteezy.com/system/resources/previews/010/820/720/original/white-background-random-minimalist-abstract-illustration-for-logo-card-banner-web-and-printing-vector.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh; /* Set the body height to the viewport height */
  margin: 0; /* Remove default body margin */
  padding: 0; /* Remove default body padding */
}


/* Style the submit button when hovered */
button[type=submit]:hover {
  background-color: #0c1033;
}

/* Style the links */
a {
  color: dodgerblue;
}

/* Style the container for the "Already have an account?" message */
.signin {
  text-align: center;
}
